Custodian Code,Local Authority Name,Consortium/LA,Consortium Name,WHLG Status,Data Migration (Y/N/TBC),Data Migration Details,Mou/DSA Signed,Onbaorded Date,SPOC Name,Onboarded Email Addresses
9051,Aberdeen City Council,,,Not Taking Part,,,,,,
9052,Aberdeenshire Council,,,Not Taking Part,,,,,,
3805,Adur District Council,Consortium,Portsmouth City Council,,,,,,,
1005,Amber Valley Borough Council,Consortium,Nottingham City Council,,,,,,,
9053,Angus Council,,,Not Taking Part,,,,,,
9054,Argyll and Bute Council,,,Not Taking Part,,,,,,
3810,Arun District Council,Consortium,Portsmouth City Council,,,,,,,
3005,Ashfield District Council,,,Not Taking Part,,,,,,
2205,Ashford Borough Council,LA,Ashford Borough Council,,,,,,,
3505,Babergh District Council,Consortium,Suffolk County Council,,,,,,,
5060,London Borough of Barking and Dagenham,LA,London Borough of Barking and Dagenham,,,,,,,
5090,Barnet Council,Consortium,Greater London Authority,,,,,,,
4405,Barnsley Metropolitan Borough Council,LA,Barnsley Metropolitan Borough Council,,,,,,,
1505,Basildon Council,LA,Basildon Council,,,,,,,
1705,Basingstoke and Deane Borough Council,Consortium,Portsmouth City Council,,,,,,,
3010,Bassetlaw District Council,Consortium,Nottingham City Council,,,,,,,
114,Bath and North East Somerset Council,Consortium,Bristol City Council,,,,,,,
235,Bedford Borough Council,Consortium,Portsmouth City Council,,,,,,,
5120,London Borough of Bexley,Consortium,Greater London Authority,,,,,,,
4605,Birmingham City Council,Consortium,West Midlands Combined Authority,Trailblazer,,,,,,
2405,Blaby District Council,Consortium,Nottingham City Council,,,,,,,
2372,Blackburn with Darwen Borough Council,Consortium,Blackpool Council,,,,,,,
2373,Blackpool Council,Consortium,Blackpool Council,,,,,,,
6910,Blaenau Gwent County Borough Council,,,Not Taking Part,,,,,,
1010,Bolsover District Council,Consortium,Nottingham City Council,,,,,,,
4205,Bolton Metropolitan Borough Council,Consortium,Greater Manchester Combined Authority,Trailblazer,,,,,,
1905,Borough of Broxbourne Council,LA,Borough of Broxbourne Council,,,,,,,
2505,Boston Borough Council,Consortium,East Lindsey District Council,,,,,,,
1260,"Bournemouth, Christchurch and Poole Council",Consortium,Dorset Council,,,,,,,
335,Bracknell Forest Borough Council,Consortium,Portsmouth City Council,,,,,,,
4705,City of Bradford Metropolitan District Council,LA,City of Bradford Metropolitan District Council,,,,,,,
1510,Braintree District Council,Consortium,Essex County Council,,,,,,,
2605,Breckland District Council,Consortium,Broadland District Council,,,,,,,
5150,Brent Council,Consortium,Greater London Authority,,,,,,,
1515,Brentwood Council,Consortium,Essex County Council,,,,,,,
6915,Bridgend County Borough Council,,,Not Taking Part,,,,,,
1445,Brighton and Hove City Council,Consortium,Portsmouth City Council,,,,,,,
116,Bristol City Council,Consortium,Bristol City Council,,,,,,,
2610,Broadland District Council,Consortium,Broadland District Council,,,,,,,
5180,London Borough of Bromley,Consortium,Greater London Authority,,,,,,,
1805,Bromsgrove District Council,Consortium,Nottingham City Council,,,,,,,
3015,Broxtowe Borough Council,Consortium,Nottingham City Council,,,,,,,
440,Buckinghamshire Council,LA,Buckinghamshire Council,,,,,,,
2315,Burnley Borough Council,Consortium,Blackpool Council,,,,,,,
4210,Bury Metropolitan Borough Council,Consortium,Greater Manchester Combined Authority,Trailblazer,,,,,,
6920,Caerphilly County Borough Council,,,Not Taking Part,,,,,,
4710,Calderdale Council,LA,Calderdale Council,,,,,,,
505,Cambridge City Council,Consortium,Cambridge City Council,,,,,,,
5210,Camden Council,Consortium,Greater London Authority,,,,,,,
3405,Cannock Chase District Council,Consortium,Nottingham City Council,,,,,,,
2210,Canterbury City Council,LA,Canterbury City Council,,,,,,,
6815,City of Cardiff Council,,,Not Taking Part,,,,,,
6825,Carmarthenshire County Council,,,Not Taking Part,,,,,,
1520,Castle Point District Council,Consortium,Essex County Council,,,,,,,
240,Central Bedfordshire Council,LA,Central Bedfordshire Council,,,,,,,
6820,Ceredigion County Council,,,Not Taking Part,,,,,,
2410,Charnwood Borough Council,Consortium,Nottingham City Council,,,,,,,
1525,Chelmsford City Council,Consortium,Essex County Council,,,,,,,
1605,Cheltenham Borough Council,Consortium,Stroud District Council,,,,,,,
3105,Cherwell District Council,Consortium,Oxfordshire County Council,,,,,,,
660,Cheshire East Council,Consortium,Cheshire East Council,,,,,,,
665,Cheshire West and Chester Council,Consortium,Cheshire East Council,,,,,,,
1015,Chesterfield Borough Council,Consortium,Nottingham City Council,,,,,,,
3815,Chichester District Council,Consortium,Portsmouth City Council,,,,,,,
2320,Chorley Borough Council,Consortium,Blackpool Council,,,,,,,
9056,Clackmannanshire Council,,,Not Taking Part,,,,,,
5030,City of London Corporation,Consortium,Greater London Authority,,,,,,,
1530,Colchester City Council,Consortium,Essex County Council,,,,,,,
9020,Comhairle nan Eilean Siar,,,Not Taking Part,,,,,,
6905,Conwy County Borough Council,,,,,,,,,
840,Cornwall Council,Consortium,Cornwall Council,Not Taking Part,,,,,,
1610,Cotswold District Council,Consortium,Stroud District Council,,,,,,,
4610,Coventry City Council,Consortium,West Midlands Combined Authority,Trailblazer,,,,,,
3820,Crawley Borough Council,Consortium,Portsmouth City Council,,,,,,,
5240,Croydon Council,Consortium,Portsmouth City Council,,,,,,,
940,Cumberland Council,Consortium,Westmorland and Furness Council,,,,,,,
1910,Dacorum Borough Council,LA,Dacorum Borough Council,,,,,,,
1350,Darlington Borough Council,Consortium,Darlington Borough Council (Tees Consortium),,,,,,,
2215,Dartford Borough Council,Consortium,Dover District Council,,,,,,,
6830,Denbighshire County Council,,,Not Taking Part,,,,,,
1055,Derby City Council,Consortium,Nottingham City Council,,,,,,,
1045,Derbyshire Dales District Council,Consortium,Nottingham City Council,,,,,,,
1155,Devon County Council,Consortium,Devon County Council,,,,,,,
4410,City of Doncaster Council,LA,City of Doncaster Council,,,,,,,
1265,Dorset Council,Consortium,Dorset Council,,,,,,,
2220,Dover District Council,Consortium,Dover District Council,,,,,,,
4615,Dudley Borough Council,Consortium,West Midlands Combined Authority,Trailblazer,,,,,,
9058,Dumfries and Galloway Council,,,Not Taking Part,,,,,,
9059,Dundee City Council,,,Not Taking Part,,,,,,
1355,Durham County Council,LA,County Durham,,,,,,,
5270,Ealing Council,Consortium,Greater London Authority,,,,,,,
9060,East Ayrshire Council,,,Not Taking Part,,,,,,
510,East Cambridgeshire District Council,Consortium,Cambridge City Council,,,,,,,
1105,East Devon District Council,Consortium,Devon County Council,,,,,,,
9061,East Dunbartonshire Council,,,Not Taking Part,,,,,,
1710,East Hampshire District Council,Consortium,Portsmouth City Council,,,,,,,
1915,East Hertfordshire District Council,LA,East Hertfordshire District Council,,,,,,,
2510,East Lindsey District Council,Consortium,East Lindsey District Council,,,,,,,
