Custodian Code,Local Authority Name,Consortium/LA,Consortium Name,URL,WHLG Status,"Trailblazer Participation
 (Y/N/TBC)",Data Migration (Y/N/TBC),Data Migration Details,Mou/DSA Signed,Onbaorded Date,SPOC Name,Onboarded Email Addresses
9051,Aberdeen City Council,,,https://www.aberdeencity.gov.uk/,Not Taking Part,,N/A,,,,,
9052,Aberdeenshire Council,,,https://www.aberdeenshire.gov.uk/,Not Taking Part,,N/A,,,,,
3805,Adur District Council,Consortium,Portsmouth City Council,https://www.adur-worthing.gov.uk,Live,,Y,,,,,
1005,Amber Valley Borough Council,Consortium,Nottingham City Council,https://www.ambervalley.gov.uk,Live,,Y,,,,,
9053,Angus Council,,,https://www.angus.gov.uk/,Not Taking Part,,N/A,,,,,
9054,Argyll and Bute Council,,,https://www.argyll-bute.gov.uk/,Not Taking Part,,N/A,,,,,
3810,Arun District Council,Consortium,Portsmouth City Council,https://www.arun.gov.uk,Live,,Y,,,,,
3005,Ashfield District Council,,,https://www.ashfield.gov.uk/,Not Taking Part,,N/A,,,,,
2205,Ashford Borough Council,LA,Ashford Borough Council,https://www.ashford.gov.uk,Live,,Y,,,,,
3505,Babergh District Council,Consortium,Suffolk County Council,https://www.babergh.gov.uk,Live,,N,,,,,
5060,London Borough of Barking and Dagenham,LA,London Borough of Barking and Dagenham,https://www.lbbd.gov.uk/,Live,,Y,,,,,
5090,Barnet Council,Consortium,Greater London Authority,https://www.barnet.gov.uk/,Live,,Y,,,,,
4405,Barnsley Metropolitan Borough Council,LA,Barnsley Metropolitan Borough Council,https://www.barnsley.gov.uk/,Live,,N,,,,,
1505,Basildon Council,LA,Basildon Council,https://www.basildon.gov.uk/,Live,,Y,,,,,
1705,Basingstoke and Deane Borough Council,Consortium,Portsmouth City Council,https://www.basingstoke.gov.uk/,Live,,Y,,,,,
3010,Bassetlaw District Council,Consortium,Nottingham City Council,https://www.bassetlaw.gov.uk/,Live,,Y,,,,,
114,Bath and North East Somerset Council,Consortium,Bristol City Council,https://www.bathnes.gov.uk/,Live,,Y,,,,,
235,Bedford Borough Council,Consortium,Portsmouth City Council,https://www.bedford.gov.uk/,Live,,Y,,,,,
5120,London Borough of Bexley,Consortium,Greater London Authority,https://www.bexley.gov.uk/,Live,,Y,,,,,
4605,Birmingham City Council,Consortium,West Midlands Combined Authority,https://www.birmingham.gov.uk/,Not Participating,Y,N,,,,,
2405,Blaby District Council,Consortium,Nottingham City Council,https://www.blaby.gov.uk/,Live,,Y,,,,,
2372,Blackburn with Darwen Borough Council,Consortium,Blackpool Council,https://www.blackburn.gov.uk/,Live,,Y,,,,,
2373,Blackpool Council,Consortium,Blackpool Council,https://www.blackpool.gov.uk,Live,,Y,,,,,
6910,Blaenau Gwent County Borough Council,,,https://www.blaenau-gwent.gov.uk/,Not Taking Part,,N/A,,,,,
1010,Bolsover District Council,Consortium,Nottingham City Council,https://www.bolsover.gov.uk/,Live,,N,,,,,
4205,Bolton Metropolitan Borough Council,Consortium,Greater Manchester Combined Authority,https://www.bolton.gov.uk,Not Participating,Y,N,,,,,
1905,Borough of Broxbourne Council,LA,Borough of Broxbourne Council,https://www.broxbourne.gov.uk/,Live,,Y,,,,,
2505,Boston Borough Council,Consortium,East Lindsey District Council,https://www.boston.gov.uk/,Live,,Y,,,,,
1260,"Bournemouth, Christchurch and Poole Council",Consortium,Dorset Council,https://www.bcpcouncil.gov.uk/,Live,,Y,,,,,
335,Bracknell Forest Borough Council,Consortium,Portsmouth City Council,https://www.bracknell-forest.gov.uk/,Live,,Y,,,,,
4705,City of Bradford Metropolitan District Council,LA,City of Bradford Metropolitan District Council,https://www.bradford.gov.uk/,Live,,N,,,,,
1510,Braintree District Council,Consortium,Essex County Council,https://www.braintree.gov.uk/,Live,,Y,,,,,
2605,Breckland District Council,Consortium,Broadland District Council,https://www.breckland.gov.uk/,Live,,Y,,,,,
5150,Brent Council,Consortium,Greater London Authority,https://www.brent.gov.uk/,Live,,Y,,,,,
1515,Brentwood Council,Consortium,Essex County Council,https://www.brentwood.gov.uk/,Live,,Y,,,,,
6915,Bridgend County Borough Council,,,https://www.bridgend.gov.uk/,Not Taking Part,,N/A,,,,,
1445,Brighton and Hove City Council,Consortium,Portsmouth City Council,https://www.brighton-hove.gov.uk/,Live,,Y,,,,,
116,Bristol City Council,Consortium,Bristol City Council,https://www.bristol.gov.uk/,Live,,Y,,,,,
2610,Broadland District Council,Consortium,Broadland District Council,https://www.southnorfolkandbroadland.gov.uk/,Live,,Y,,,,,
5180,London Borough of Bromley,Consortium,Greater London Authority,https://www.bromley.gov.uk/,Live,,Y,,,,,
1805,Bromsgrove District Council,Consortium,Nottingham City Council,https://www.bromsgrove.gov.uk/,Live,,Y,,,,,
3015,Broxtowe Borough Council,Consortium,Nottingham City Council,https://www.broxtowe.gov.uk/,Live,,Y,,,,,
440,Buckinghamshire Council,LA,Buckinghamshire Council,https://www.buckinghamshire.gov.uk/,Live,,Y,,,,,
2315,Burnley Borough Council,Consortium,Blackpool Council,https://burnley.gov.uk/,Live,,N,,,,,
4210,Bury Metropolitan Borough Council,Consortium,Greater Manchester Combined Authority,https://www.bury.gov.uk/,Not Participating,Y,N,,,,,
6920,Caerphilly County Borough Council,,,https://www.caerphilly.gov.uk/,Not Taking Part,,N/A,,,,,
4710,Calderdale Council,LA,Calderdale Council,https://new.calderdale.gov.uk/,Live,,Y,,,,,
505,Cambridge City Council,Consortium,Cambridge City Council,https://www.cambridge.gov.uk/,Live,,Y,,,,,
5210,Camden Council,Consortium,Greater London Authority,https://www.camden.gov.uk/,Live,,Y,,,,,
3405,Cannock Chase District Council,Consortium,Nottingham City Council,https://www.cannockchasedc.gov.uk/,Live,,Y,,,,,
2210,Canterbury City Council,LA,Canterbury City Council,https://www.canterbury.gov.uk/,Live,,Y,,,,,
6815,City of Cardiff Council,,,https://www.cardiff.gov.uk/ENG/Pages/default.aspx,Not Taking Part,,N/A,,,,,
6825,Carmarthenshire County Council,,,https://www.carmarthenshire.gov.wales/,Not Taking Part,,N/A,,,,,
1520,Castle Point District Council,Consortium,Essex County Council,https://www.castlepoint.gov.uk/,Live,,Y,,,,,
240,Central Bedfordshire Council,LA,Central Bedfordshire Council,https://www.centralbedfordshire.gov.uk/,Live,,N,,,,,
6820,Ceredigion County Council,,,https://www.ceredigion.gov.uk/,Not Taking Part,,N/A,,,,,
2410,Charnwood Borough Council,Consortium,Nottingham City Council,https://www.charnwood.gov.uk/,Live,,Y,,,,,
1525,Chelmsford City Council,Consortium,Essex County Council,https://www.chelmsford.gov.uk/,Live,,Y,,,,,
1605,Cheltenham Borough Council,Consortium,Stroud District Council,https://www.cheltenham.gov.uk/,Live,,Y,,,,,
3105,Cherwell District Council,Consortium,Oxfordshire County Council,https://www.cherwell.gov.uk/,Live,,Y,,,,,
660,Cheshire East Council,Consortium,Cheshire East Council,https://www.cheshireeast.gov.uk/home.aspx,Live,,Y,,,,,
665,Cheshire West and Chester Council,Consortium,Cheshire East Council,https://www.cheshirewestandchester.gov.uk/,Live,,Y,,,,,
1015,Chesterfield Borough Council,Consortium,Nottingham City Council,https://www.chesterfield.gov.uk/,Live,,Y,,,,,
3815,Chichester District Council,Consortium,Portsmouth City Council,https://www.chichester.gov.uk/,Live,,Y,,,,,
2320,Chorley Borough Council,Consortium,Blackpool Council,https://chorley.gov.uk/,Live,,Y,,,,,
9056,Clackmannanshire Council,,,https://www.clacks.gov.uk/,Not Taking Part,,N/A,,,,,
5030,City of London Corporation,Consortium,Greater London Authority,https://www.cityoflondon.gov.uk/about-us,Live,,Y,,,,,
1530,Colchester City Council,Consortium,Essex County Council,https://www.colchester.gov.uk/,Live,,Y,,,,,
9020,Comhairle nan Eilean Siar,,,https://www.cne-siar.gov.uk/,Not Taking Part,,N/A,,,,,
6905,Conwy County Borough Council,,,https://www.conwy.gov.uk/,Not Taking Part,,N/A,,,,,
840,Cornwall Council,Consortium,Cornwall Council,https://www.cornwall.gov.uk/,Live,,Y,,,,,
1610,Cotswold District Council,Consortium,Stroud District Council,https://www.cotswold.gov.uk/,Live,,Y,,,,,
4610,Coventry City Council,Consortium,West Midlands Combined Authority,https://www.coventry.gov.uk/,Not Participating,Y,N,,,,,
3820,Crawley Borough Council,Consortium,Portsmouth City Council,https://crawley.gov.uk/,Live,,Y,,,,,
5240,Croydon Council,Consortium,Portsmouth City Council,https://www.croydon.gov.uk/,Live,,Y,,,,,
940,Cumberland Council,Consortium,Westmorland and Furness Council,https://www.cumberland.gov.uk,Live,,Y,,,,,
1910,Dacorum Borough Council,LA,Dacorum Borough Council,https://www.dacorum.gov.uk/,Live,,Y,,,,,
1350,Darlington Borough Council,Consortium,Darlington Borough Council (Tees Consortium),https://www.darlington.gov.uk/,Live,,Y,,,,,
2215,Dartford Borough Council,Consortium,Dover District Council,https://www.dartford.gov.uk/,Live,,Y,,,,,
6830,Denbighshire County Council,,,https://www.denbighshire.gov.uk,Not Taking Part,,N/A,,,,,
1055,Derby City Council,Consortium,Nottingham City Council,https://www.derby.gov.uk/,Live,,Y,,,,,
1045,Derbyshire Dales District Council,Consortium,Nottingham City Council,https://www.derbyshiredales.gov.uk/,Live,,Y,,,,,
1155,Devon County Council,Consortium,Devon County Council,https://www.devon.gov.uk,Live,,Y,,,,,
4410,City of Doncaster Council,LA,City of Doncaster Council,https://www.doncaster.gov.uk/,Live,,N,,,,,
1265,Dorset Council,Consortium,Dorset Council,https://www.dorsetcouncil.gov.uk/,Live,,Y,,,,,
2220,Dover District Council,Consortium,Dover District Council,https://www.dover.gov.uk/Home.aspx,Live,,Y,,,,,
4615,Dudley Borough Council,Consortium,West Midlands Combined Authority,https://www.dudley.gov.uk/residents/,Not Participating,Y,N,,,,,
9058,Dumfries and Galloway Council,,,https://www.dumfriesandgalloway.gov.uk/,Not Taking Part,,N/A,,,,,
9059,Dundee City Council,,,https://www.dundeecity.gov.uk/,Not Taking Part,,N/A,,,,,
1355,Durham County Council,LA,County Durham,https://www.durham.gov.uk/,Live,,Y,,,,,
5270,Ealing Council,Consortium,Greater London Authority,https://www.ealing.gov.uk/site/,Live,,Y,,,,,
9060,East Ayrshire Council,,,https://www.east-ayrshire.gov.uk/Home.aspx,Not Taking Part,,N/A,,,,,
510,East Cambridgeshire District Council,Consortium,Cambridge City Council,https://eastcambs.gov.uk/,Live,,Y,,,,,
1105,East Devon District Council,Consortium,Devon County Council,https://eastdevon.gov.uk/,Live,,Y,,,,,
9061,East Dunbartonshire Council,,,https://www.eastdunbarton.gov.uk/,Not Taking Part,,N/A,,,,,
1710,East Hampshire District Council,Consortium,Portsmouth City Council,https://www.easthants.gov.uk/,Live,,Y,,,,,
1915,East Hertfordshire District Council,LA,East Hertfordshire District Council,https://www.eastherts.gov.uk/,Live,,Y,,,,,
