@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using HerPublicWebsite.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.Questionnaire.GasBoilerViewModel

@{
    ViewBag.Title = "Boiler";
}

@section BeforeMain {
    <nav>
        @await Html.GovUkBackLink(new BackLinkViewModel
        {
            Text = "Back",
            Href = Model.BackLink,
        })
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(QuestionnaireController.GasBoiler_Post), "Questionnaire")" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()

            @await Html.GovUkRadiosFor(m => m.HasGasBoiler,
                       fieldsetOptions: new FieldsetViewModel
                       {
                           Legend = new LegendViewModel
                           {
                               Text = "Do you have a gas boiler?",
                               Classes = "govuk-fieldset__legend--l",
                               IsPageHeading = true
                           }
                       },
                       new HintViewModel
                       {
                           Html = @<text>
                                      <p class="govuk-body">To be eligible for the Home Upgrade Grant, you cannot use a gas boiler to heat the property.</p>
                                      <p class="govuk-body">If you have two heating systems but use your gas boiler more than the other, choose ‘Yes, I have a gas boiler’.</p>
                               </text>
                               
                       },
                       // Necessary to make sure the options appear in the correct order
                       overrideRadioValues: new [] { HasGasBoiler.Yes, HasGasBoiler.No })

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
            }))

        </form>
        
    </div>
</div>
