@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers
@using HerPublicWebsite.Models.Enums

@model HerPublicWebsite.Models.Questionnaire.PendingViewModel

@{
    ViewBag.Title = "Your Local Authority is not ready to process applications yet";
}

@section BeforeMain {
    <nav>
        @await Html.GovUkBackLink(new BackLinkViewModel
        {
            Text = "Back",
            Href = Model.BackLink,
        })
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Your Local Authority is receiving applications but is not ready to process them yet</h1>
        
        <h2 class="govuk-heading-m">What to do next</h2>
        
        @await Html.PartialAsync(Model.LocalAuthorityMessagePartialViewPath)
        
        <p class="govuk-body">
            If your local authority does not seem right, <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your correct local authority</a> and contact them directly.
        </p>
        
        <form action="@Url.Action(nameof(QuestionnaireController.Pending_Post), "Questionnaire")" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()

            @await Html.GovUkCheckboxFromBoolFor(
                       m => m.UserAcknowledgesApplicationNotProcessedUntilLocalAuthorityLive,
                       fieldsetOptions: new FieldsetViewModel
                       {
                           Legend = new LegendViewModel
                           {
                               Html = @<text>
                                          <p class="govuk-body">I want to create a referral and acknowledge that my application will not be processed until my local authority is signed up to use this service</p>
                                       </text>
                           },
                       })
            <div class="govuk-button-group">
                @(await Html.GovUkButton(new ButtonViewModel
                {
                    Text = "Submit",
                }))
            </div>
        </form>
        
        <h2 class="govuk-heading-m">You might be able to get help from your energy supplier</h2>
        <p class="govuk-body">
            You might be able to get help for energy-saving improvements to your home if you either:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                claim certain benefits and live in private housing (for example you own your home or rent from a private landlord) 
            </li>
            <li>
                live in social housing
            </li>
        </ul>
        <p class="govuk-body">
            Check if you are eligible for the <a class="govuk-link" href="https://www.gov.uk/energy-company-obligation">
            Energy Company Obligation</a> scheme.</p>
    </div>
</div>
