@model WhlgPublicWebsite.Models.Questionnaire.NoLongerParticipatingViewModel

<p class="govuk-body">
    Your Local Authority, <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is no longer taking part in the Warm Homes: Local Grant scheme.
</p>