@model WhlgPublicWebsite.Models.Questionnaire.NoLongerParticipatingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your Local Authority,
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is no longer receiving referrals via this service. You should reach out to
    your Local Authority directly for support.
</p>