@model WhlgPublicWebsite.Models.Questionnaire.ReferralsPausedViewModel

<h1 class="govuk-heading-l">Your Local Authority is no longer receiving applications via this service</h1>
<h2 class="govuk-heading-m">What to do next</h2>
<p class="govuk-body">
    Your Local Authority, <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>, is no longer receiving applications for the Warm Homes: Local Grant
    as they are oversubscribed for this year. Please check back in April when more funding may be available.
</p>
