@model WhlgPublicWebsite.Models.Questionnaire.ReferralsPausedViewModel

<h1 class="govuk-heading-l">The Greater London Authority is not currently receiving applications via this service</h1>
<h2 class="govuk-heading-m">What to do next</h2>
<p class="govuk-body">
    The Greater London Authority, who are delivering the programme on behalf of your Local Authority,
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not currently receiving applications for the Warm Homes: Local Grant as they are oversubscribed for this year.
    Please check back in April when more funding may be available.
</p>
<p class="govuk-body">
    If your Local Authority does not seem right, <a class="govuk-link" href="https://www.gov.uk/find-local-council">find your correct Local Authority</a> and contact them directly. If the scheme in your area is delivered by the Greater London Authority (GLA), contact the GLA directly.
</p>
