@model WhlgPublicWebsite.Models.Questionnaire.ReferralsPausedViewModel

<p class="govuk-body">
    The Greater London Authority, who are delivering the programme on behalf of your Local Authority,
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not currently receiving applications for the Warm Homes: Local Grant as they are oversubscribed for this year.
    Please check back in April when more funding may be available.
</p>
