
# User preferences
.idea
WarmHomesLocalGrant.sln.DotSettings.user

# Dependencies
node_modules/

# Build results
bin/
obj/
**/wwwroot/compiled
ci-server-build/

scripts/*/*.csv
scripts/*/*.txt