@model HerPublicWebsite.Models.Questionnaire.NotParticipatingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your local authority,
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not signed up to use this service. 
    This means you will need to contact them directly to apply.
</p>