@model WhlgPublicWebsite.Models.Questionnaire.NotParticipatingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your Local Authority,
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not receiving applications via this service. Since your home is in Greater Manchester, please use the
    <a class="govuk-link" href="https://gmca.retrofitportal.org.uk/home">GMCA's Retrofit Portal</a>
    to check which schemes you are eligible for.
</p>