@model WhlgPublicWebsite.Models.Questionnaire.NotParticipatingViewModel

<p class="govuk-body">
    As your home is in a Local Authority within West Midlands that is not using this service, 
    please reach out to your Local Authority directly to see which schemes you may be eligible for.
</p>