@using GovUkDesignSystem
<div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
            <ul class="govuk-list govuk-!-font-size-16">
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/browse/housing-local-services/household-energy">Household energy<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/cold-weather-payment">Cold Weather Payment<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/green-deal-energy-saving-measures">Green Deal: energy saving for your home<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/energy-company-obligation">Help from your energy supplier: the Affordable Warmth Obligation<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/the-warm-home-discount-scheme">Warm Home Discount Scheme<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
                <li>
                    <a class="govuk-link" rel="external noopener track" target="_blank" data-track-category="Related Link Clicked" href="https://www.gov.uk/winter-fuel-payment">Winter Fuel Payment<span class="govuk-visually-hidden">(opens in a new window)</span></a>
                </li>
            </ul>
        </nav>
    </aside>
</div>
