@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using WhlgPublicWebsite.BusinessLogic.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using WhlgPublicWebsite.Controllers

@model WhlgPublicWebsite.Models.Questionnaire.AddressViewModel
@{
    ViewBag.Title = "Address";
}

@section BeforeMain {
    <nav>
        @await Html.GovUkBackLink(new BackLinkViewModel
        {
            Text = "Back",
            Href = Model.BackLink,
        })
    </nav>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="@Url.Action(nameof(QuestionnaireController.Address_Post), "Questionnaire")" method="post" novalidate>
            @Html.AntiForgeryToken()
            @(Html.HiddenFor(m => m.EntryPoint))

            <h1 class="govuk-heading-l">
                What is the address of your property?
            </h1>

            <p class="govuk-body">
                We need this information to find out your:
            </p>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
                <li>property’s energy efficiency</li>
                <li>local authority</li>
                <li>postcode’s eligibility</li>
            </ul>

            @await Html.GovUkTextInputFor(m => m.BuildingNameOrNumber,
                labelOptions: new LabelViewModel()
                {
                    Text = "Building number or name (optional)"
                },
                hintOptions: new HintViewModel() {
                    Text = "e.g. 19 or Rose Cottage"
                },
                classes: "govuk-input--width-10"
            )
            @await Html.GovUkTextInputFor(m => m.Postcode,
                labelOptions: new LabelViewModel()
                {
                    Text = "Postcode"
                },
                hintOptions: new HintViewModel() {
                    Text = "e.g. AB12 3CD"
                },
                classes: "govuk-input--width-10",
                autocomplete: "postal-code"
            )

            @(await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue",
            }))

        </form>

    </div>
</div>
