@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model WhlgPublicWebsite.Models.Questionnaire.OwnershipStatusViewModel
@{
    ViewBag.Title = "Sorry, this service isn't for you";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">This service is currently for homeowners</h1>

        <p class="govuk-body">
            However, privately rented homes can still be eligible for Warm Homes: Local Grant funding.
        </p>

        <p class="govuk-body">
            Please contact your Local Authority directly if you are a tenant in a privately rented home and your 
            landlord supports your application for Warm Homes: Local Grant.
        </p>

        <p class="govuk-body">
            Please also contact your Local Authority directly if you are a private landlord and support an application 
            for the Warm Homes: Local Grant for your rented property.
        </p>
        
        <h2 class="govuk-heading-m">You might be able to get help from your energy supplier</h2>
        <p class="govuk-body">
            Check if you are eligible for the
            <a target="_blank" href="https://www.gov.uk/apply-great-british-insulation-scheme">Great British Insulation Scheme</a>
            or the <a target="_blank" href="https://www.gov.uk/energy-company-obligation">Energy Company Obligation</a> scheme.
        </p>
        
        <h2 class="govuk-heading-m">Contact your Local Authority</h2>
        <p class="govuk-body">
            <a target="_blank" href="https://www.gov.uk/find-local-council">Your local council</a> 
            might have additional grants or supports available. Contact them to find out more or visit their website.
        </p>
    </div>
</div>
