@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model WhlgPublicWebsite.Models.Questionnaire.IneligibleWalesViewModel
@{
    ViewBag.Title = "Sorry, this service isn't for you";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">This service is for homes in England</h1>

        <h2 class="govuk-heading-m">You might be able to get help from your energy supplier in Wales</h2>
        <p class="govuk-body">
            Check if you are eligible for the
            <a class="govuk-link" href="https://www.gov.uk/energy-company-obligation">Energy Company Obligation</a> scheme.
        </p>
    </div>
</div>