@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.ConfirmAddressViewModel
@{
    ViewBag.Title = "Confirm your address";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="@Url.Action(nameof(EnergyEfficiencyController.ConfirmAddress_Post), "EnergyEfficiency", new { reference = Model.Reference, postcode = Model.Postcode, number = Model.Number })" method="post" novalidate>

                @Html.AntiForgeryToken()
                
                <p class="govuk-caption-l">
                    Find your EPC
                </p>

                @await Html.GovUkRadiosFromStringsFor(m => m.SelectedEpcId,
                    radioOptions: Model.EpcOptionsWithUnlistedOption(),
                    fieldsetOptions: new FieldsetViewModel
                    {
                        Legend = new LegendViewModel
                        {
                            Text = "We found multiple Energy Performance Certificates that might be yours",
                            Classes = "govuk-fieldset__legend--l",
                            IsPageHeading = true
                        }
                    },
                    new HintViewModel
                    {
                        Html = @<text>
                                   <p class="govuk-body">
                                       One of these certificates may be registered to your property or to the properties nearby that share part of your address.
                                   </p>
                                   <p class="govuk-body">
                                       Your address may not be listed here if it does not have a registered certificate.
                                   </p>
                                   <p class="govuk-heading-m">
                                       Choose your address
                                   </p>
                                   <p class="govuk-hint">
                                       Please choose your address if it is listed, otherwise choose ‘My address is not listed here’
                                   </p>
                                </text>
                    },
                    conditionalOptions: new Dictionary<string, Conditional>
                    {
                        {
                            "unlisted",
                            new Conditional
                            {
                                Html = (@<text>
                                            <p class="govuk-hint">You can still continue to use this service as there are further questions that can help determine the kind of measures you can take.</p>
                                         </text>)
                            }
                        }
                    }
                )

                <div class="govuk-button-group">
                    @(await Html.GovUkButton(new ButtonViewModel
                    {
                        Text = "Continue",
                    }))
                </div>

            </form>
    </div>
</div>