@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HerPublicWebsite.Controllers

@model HerPublicWebsite.Models.EnergyEfficiency.PropertyTypeViewModel
@{
    ViewBag.Title = "Property type";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.PropertyType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details =
                    @<text>
                        <p class="govuk-body">
                            Energy use varies between different buildings, particularly for heating.
                        </p>
                        <p class="govuk-body">
                            Some home improvements are only possible or appropriate for certain buildings.
                        </p>
                     </text>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.PropertyType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "What kind of property do you have?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Why do we need to know this?",
                                   Html = details
                               })
                            </text>
                }
                ))
            
            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
        </form>
        
    </div>
</div>
