@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <h1 class="govuk-heading-l">Insulate the ground floor</h1>
    
    <p class="govuk-body">
        From the information we have it looks like you have a suspended timber floor.
        This means your ground floor is made of wooden floorboards with a gap underneath.
    </p>
    <p class="govuk-body">
        Adding extra insulation can help trap the heat inside your property so your
        heating doesn’t need to be on as much.
    </p>

    <p class="govuk-body">
        Your floor could be insulated by lifting the floorboards, fitting insulation
        between the joists and then putting the floorboards back. This is normally a
        job for a professional installer.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
        You can find more information on floor insulation on the
        <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/floor-insulation/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
    </p>
    
    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = "You will need to completely empty the rooms that are being insulated, and remove " +
               "any carpet or other floor covering, before the floor boards can be lifted."
    })
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            Your property has a suspended timber floor that has not yet been insulated.
            If you are unsure, a qualified installer will be able to confirm this for you.
        </li>
    </ul>
}

@section RecommendationLifetime
{
    <p class="govuk-body">Floor insulation is typically expected to last <b>around @Model.GetCurrentPropertyRecommendation().Lifetime years</b></p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--orange",
        Text = "DEFINITELY"
    };
    
    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = "1 TO 2 DAYS"
    };
}