@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <p class="govuk-body">
        Based on the information we have collected; it looks like you have solid walls without a cavity, and that these are not insulated. You could consider insulating these walls to help trap the heat inside your property so your heating doesn’t need to be on as much.
    </p>
    
    @await Html.GovUkInsetText(new InsetTextViewModel
    {
        Html = @<text>
                   <p class="govuk-body">
                       Solid wall insulation can be fitted internally (internal wall insulation) or externally (external wall insulation).
                   </p>
                   <p class="govuk-body">
                       Internal wall insulation will slightly reduce the size of any rooms that have an external wall, and you will need to redecorate afterwards.
                   </p>
                   <p class="govuk-body">
                       External wall insulation is less disruptive to the inside of your home, but will change the external appearance of your home, so you will usually need planning permission. It’s unlikely to be allowed on the front of your property if you live in a conservation area.
                   </p>
                </text>
    })
    
    <p class="govuk-body govuk-!-margin-bottom-6">
        You can find more information on solid wall insulation on the
        <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/solid-wall-insulation/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
    </p>
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            You have solid brick or stone walls with no cavity (this is common for homes built before 1920).
        </li>
        <li>
            Your home is a non-standard construction such as steel frame, timber frame or concrete. 
        </li>
    </ul>
    
    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = "You will need a specialist contractor to assess what the best way is to insulate your walls, " +
               "and to carry out the work. This is not a DIY job, or one for a general builder."
    })
}

@section RecommendationLifetime
{
    <p class="govuk-body">Solid wall insulation is expected to last <b>around @Model.GetCurrentPropertyRecommendation().Lifetime years</b></p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--red",
        Text = "MEDIUM TO VERY SIGNIFICANT"
    };
    
    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--red",
        Text = "SEVERAL DAYS"
    };
}