@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model SeaPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <p class="govuk-body">
        Based on the information we have collected; it looks like you have some single glazed windows in your home. Double or
        triple glazed windows are much better at keeping the heat in, so would help
        you keep warm while reducing your heating bills.
    </p>

    <p class="govuk-body">
        The fuel bill savings from replacing windows are unlikely to pay back the full installation cost, 
        but there are other benefits such as reduced maintenance and better sound proofing that may affect your decision.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
        You can find more information on efficient windows and how to choose them at the
        <a class="govuk-link" target="_blank" href="https://www.bfrc.org/homeowners">
            British Fenestration Rating Council.<span class="govuk-visually-hidden">(opens in a new window)</span>
        </a>
    </p>

    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = "If you live in a conservation area or listed building there may be limits on what changes you can make " +
               "to your windows. You should check with your local authority to see what is allowed."
    })
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            You have any single glazed windows.
        </li>
    </ul>
}

@section RecommendationLifetime
{
    <p class="govuk-body">New windows are typically expected to last <b>around @Model.GetCurrentPropertyRecommendation().Lifetime years</b></p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = "MODERATE"
    };
    
    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = "1 OR 2 DAYS"
    };
}