@using HerPublicWebsite.Controllers
@{
    ViewBag.Title = "Session expired";
}

@* Wording taken from https://design-system.dwp.gov.uk/patterns/manage-a-session-timeout *@
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Your answers have been deleted
        </h1>
        <div class="govuk-body">
            <p>We have deleted your answers because you did not do anything for 5 hours.
                This is to protect your information.</p>
            <p>You will need to start again.</p>
        </div>
        <a href="@Url.Action(nameof(StaticPagesController.Index), "StaticPages")" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Start again
        </a>
    </div>
</div>
