@using HerPublicWebsite.Controllers

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Health Check Passed</h1>
        <p class="govuk-body">
            Return to the <a href="@Url.Action(nameof(EnergyEfficiencyController.Index), "EnergyEfficiency")" class="govuk-link">home page</a>?
        </p>
    </div>
</div>
