@{
    ViewBag.Title = $"Privacy notice on {Constants.SERVICE_NAME}";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            ‘Check if you are eligible for an energy grant for a home with no mains gas boiler (Warm Homes: Local Grant)’ Privacy Notice
        </h1>
        <p class="govuk-body">
            This notice is provided by the Department for Energy Security and Net Zero and sets out how we will use your personal data, and
            your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR). 
        </p>
        <p class="govuk-body">
            This service is for citizens to find out whether they might be eligible for the WH:LG grant and, if they are, to refer them to
            their Local Authority or their delivery partner. If the Local Authority is not signed up to the service, or are no longer able to
            accept new referrals, the citizens can consent to submitting their referral to the Local Authority of their delivery partner to
            process under the Warm Homes: Local Grant (WH:LG) scheme. This scheme is the successor to WH:LG and will include support for
            low-income households off the gas grid who are currently eligible for the Warm Homes: Local Grant (WH:LG). Delivery for WH:LG will
            begin in Spring 2025.
        </p>
        <p class="govuk-body">
            This privacy notice only relates to how the Department for Energy Security and Net Zero (DESNZ) uses your data in connection with
            the service and covers information saved as you proceed through the application and after you submit your referral. 
        </p>
        <p class="govuk-body">
            DESNZ and local authorities are the independent data controllers for your data. This privacy notice does not cover local authorities
            and how they use your data. You should also read your Local Authority's privacy notice to understand how they use your data. They are
            also required to manage your personal data in a way that meets the UK GDPR and Data Protection Act 2018. 
        </p>
        
        <h2 class="govuk-heading-m">
            Your data
        </h2>
        <p class="govuk-body">
            The HUG 2 Eligibility Checker uses data inputted by the potential applicant, as well as data obtained from the Ordnance Survey, Office
            for National Statistics and the Ministry of Housing, Communities and Local Government. We will process the following personal data:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-body">Date and time applied</li>
            <li class="govuk-body">Referral ID</li>
            <li class="govuk-body">Name</li>
            <li class="govuk-body">UPRN (Ordnance Survey)</li>
            <li class="govuk-body">Lower Super Output Areas (LSOA) status (ONS)</li>
            <li class="govuk-body">EPC rating (MHCLG)</li>
            <li class="govuk-body">Date EPC was done (MHCLG)</li>
            <li class="govuk-body">Off gas grid status</li>
            <li class="govuk-body">Household income band</li>
            <li class="govuk-body">Full address</li>
            <li class="govuk-body">Email address</li>
            <li class="govuk-body">Phone number</li>
            <li class="govuk-body">Tenure type</li>
        </ul>
        
        <h3 class="govuk-heading-s">
            Purpose
        </h3>
        <p class="govuk-body">
            We will process your personal data for the following purposes:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-body">To send to your Local Authority or their delivery partner so that they can contact you about the next steps in 
                the HUG 2 or the Warm Homes: Local Grant scheme application process.</li>
            <li class="govuk-body">To monitor the success of referrals made by this service.</li>
            <li class="govuk-body">To evaluate and improve this service.</li>
            <li class="govuk-body">If you provided consent, to send you information about future grant schemes as they become available.</li>
        </ul>
        
        <h3 class="govuk-heading-s">
            Legal basis of processing
        </h3>
        <p class="govuk-body">
            The legal basis for processing your contact details and property information for referral, and for monitoring and improving the service,
            is that processing is necessary for the performance of a task carried out in the public interest. Specifically, for the purpose of
            executing functions under Section 31 of the Local Government Act 2003, ensuring the responsible use of public funds, and fulfilling
            obligations related to fuel poverty and climate change legislation. The sharing of your data contained within the Energy Performance
            Certificate (EPC) is conducted in accordance with Section 35 of the Digital Economy Act 2012 and the Digital Government (Disclosure of
            Information) Regulations 2018, thereby facilitating the achievement of goals related to fuel poverty reduction.
        </p>
        <p class="govuk-body">
            The legal basis for processing your contact details to send you information about future schemes is that you consent to us doing so.
            You may withdraw your consent at any time by emailing <a class="govuk-link" href="mailto: eligibility-checker-hug@energysecurity.gov.uk">eligibility-checker-hug@energysecurity.gov.uk</a>.
        </p>
        
        <h3 class="govuk-heading-s">
            Recipients
        </h3>
        <p class="govuk-body">
            Your personal data will be shared by us with the Local Authority or their delivery partner delivering the HUG 2 grant scheme in the area
            in which your property is located. The Local Authority or delivery partner will share personal data with us about the outcome of the referral. 
        </p>
        <p class="govuk-body">
            We may share your personal data with our contractors and data processors for the purpose of delivering, monitoring, evaluating or improving
            the service. As your personal data will be stored on our IT infrastructure it will also be shared with our data processors Amazon AWS and GOV.UK Notify. 
        </p>
        <p class="govuk-body">
            Telephone support for this service is provided by ResQ. If you make use of the telephone helpline they may ask you for personal data to assist you
            in using the service. 
        </p>
        <p class="govuk-body">
            We will share your data with other public bodies if we are required to do so by law - for example, by court order, or to prevent fraud or other crime. 
        </p>
        
        <h3 class="govuk-heading-s">
            Retention
        </h3>
        <p class="govuk-body">
            Contact details you provide to allow us to notify you of future schemes will be kept for the lifetime of this service (or until you withdraw your consent).
        </p>
        <p class="govuk-body">
            If you are referred for a grant then your contact details and details you provided about your property will be kept by us for no more than two years 
            after the funding period for HUG 2 has ended. 
        </p>
        <p class="govuk-body">
            If you send us feedback, your personal details will be kept for a period of up to six months following the date of your final email sharing the details with us. 
        </p>
        
        <h2 class="govuk-heading-m">
            Your rights
        </h2>
        <p class="govuk-body">
            You have the right to request information about how your personal data are processed, and to request a copy of that personal data.
        </p>
        <p class="govuk-body">
            You have the right to request that any inaccuracies in your personal data are rectified without delay.
        </p>
        <p class="govuk-body">
            You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.
        </p>
        <p class="govuk-body">
            You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.
        </p>
        <p class="govuk-body">
            You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.
        </p>
        <p class="govuk-body">
            You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.
        </p>
        <p class="govuk-body">
            To the extent that the lawful basis is "Consent" - You have the right to withdraw consent to the processing of your personal data at any time. To do so please email 
            <a class="govuk-link" href="mailto: eligibility-checker-hug@energysecurity.gov.uk">eligibility-checker-hug@energysecurity.gov.uk</a>.
        </p>
        <p class="govuk-body">
            You have the right to object to the processing of your personal data. To exercise your rights, contact the Data Protection Officer using the contact details below.
        </p>
        
        <h2 class="govuk-heading-m">
            International transfers
        </h2>
        <p class="govuk-body">
            As your personal data is stored on our IT infrastructure and shared with our data processors Microsoft and Amazon Web Services, it may be 
            transferred and stored securely outside the UK. This does not mean we actively share your personal data with these entities; rather, 
            they are technical service providers who host infrastructure supporting our IT systems.
        </p>
        <p class="govuk-body">
            Where that is the case it will be subject to equivalent legal protection through an adequacy decision, the use of Standard Contractual
            Clauses or a UK International Data Transfer Agreement.
        </p>
        
        <h2 class="govuk-heading-m">
            Complaints
        </h2>
        <p class="govuk-body">
            If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is a UK independent regulator. 
        </p>
        <p class="govuk-body">
            The Information Commissioner can be contacted at:
        </p>
        <div class="govuk-inset-text">
            <p class="govuk-body">
                Information Commissioner's Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire<br>
                SK9 5AF<br>
            </p>
            <ul class="govuk-list">
                <li>Telephone: 0303 123 1113</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/" target="_blank">https://ico.org.uk/make-a-complaint/</a>
            </p>
        </div>
        <p class="govuk-body">
            Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.  
        </p>
        
        <h2 class="govuk-heading-m">
            Contact Details
        </h2>
        <p class="govuk-body">
            The data controller for your personal data is the Department for Energy Security and Net Zero (DESNZ).
        </p>
        <details class="govuk-details" data-module="govuk-details" open="">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    You can contact the DESNZ Data Protection Officer at:
                </span>
            </summary>
            <div class="govuk-details__text">
                <p class="govuk-body">
                    DESNZ Data Protection Officer<br>
                    Department for Energy, Security and Net Zero<br>
                    3-8 Whitehall Place<br>
                    London SW1A 2EG<br>
                </p>
                <p class="govuk-body">
                    Email: <a class="govuk-link" href="mailto: dataprotection@energysecurity.gov.uk">dataprotection@energysecurity.gov.uk</a>
                </p>
                <p class="govuk-body">
                    If you are unhappy with the way we have handled your personal data, please write to the department's Data Protection Officer in 
                    the first instance using the contact details above.
                </p>
            </div>
        </details>

        <h2 class="govuk-heading-m">
            Updates to this notice
        </h2>
        <p class="govuk-body">
            If this privacy notice changes in any way, we will place an updated version on this page. Regularly reviewing this page ensures you are
            always aware of what information we collect, how we use it, and under what circumstances we will share it with other parties. The 'last
            updated' date at the bottom of this page will also change.
        </p>
        <p class="govuk-body">
            If these changes affect how your personal data is processed, we will take reasonable steps to let you know.
        </p>
        <p class="govuk-body">
            Last updated: 11 October 2024.
        </p>
        <p class="govuk-body">
            Updated to include referrals for the WH:LG successor scheme Warm Homes: Local Grant
        </p>
    </div>
</div>