@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model HerPublicWebsite.Models.EnergyEfficiency.RecommendationViewModel;

@{
    Layout = "_Recommendation";
}

@section RecommendationBody
{
    <p class="govuk-body">
        If you have a suitable roof area you may be able to fit solar photovoltaic panels, or solar PV,
        to generate electricity.
    </p>

    <p class="govuk-body">
        You will be able to use some of this electricity to reduce the amount you buy from your energy supplier,
        cutting your bills. At times you will generate more than you are using – you can sell any surplus to your
        electricity supplier to save even more money.
    </p>

    <p class="govuk-body govuk-!-margin-bottom-6">
        You can find more information on solar PV on the
        <a class="govuk-link" target="_blank" href="https://energysavingtrust.org.uk/advice/solar-panels/">Energy Saving Trust website.<span class="govuk-visually-hidden">(opens in a new window)</span></a>
    </p>
}

@section RecommendationSuitableFor
{
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
        <li>
            You have a roof area that faces somewhere south of due east or due west.
        </li>
        <li>
            This roof area is not often shaded by trees or other buildings.
        </li>
    </ul>

    @await Html.GovUkWarningText(new WarningTextViewModel
    {
        IconFallbackText = "Caution",
        Text = "The savings you get from a solar PV system will depend on many factors, " +
               "including whether there are people at home during the day using electricity."
    })
}

@section RecommendationLifetime
{
    <p class="govuk-body">Solar panels are typically expected to last <b>around @Model.GetCurrentPropertyRecommendation().Lifetime years</b></p>
}

@{
    Model.DisruptionTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--yellow",
        Text = "MODERATE"
    };
    
    Model.DurationTagViewModel = new TagViewModel
    {
        Classes = "govuk-tag--orange",
        Text = "2 DAYS"
    };
}