@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model WhlgPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>@Model.LocalAuthorityName or their official contractor</strong> will process
    your details and should contact you within 10 working days.
<p class="govuk-body">

<p class="govuk-body">
    @if (Model.LocalAuthorityIsLive)
    {
        @await Html.GovUkInsetText(new InsetTextViewModel
        {
            Text = "If you do not receive a response within 10 working days, please contact your Local Authority directly."
        })
    }
</p>