@model WhlgPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>@Model.LocalAuthorityName or their official contractor</strong> will process
    your details and should contact you within 10 working days.
</p>
