@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model WhlgPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>Oxfordshire County Council or their official contractor</strong> will process
    your details and should contact you within 10 working days.
<p class="govuk-body">

<p class="govuk-body">
    @if (Model.LocalAuthorityIsLive)
    {
        @await Html.GovUkInsetText(new InsetTextViewModel
        {
            Text = "If you do not receive a response within 10 working days, please contact Oxfordshire County Council directly."
        })
    }
</p>

<p class="govuk-body">To enquire about your application visit <a class="govuk-link"
                                                                 href="https://www.oxfordshire.gov.uk/residents/environment-and-planning/energy-and-climate-change/retrofitting-your-home/retrofit-help-you">Oxfordshire
        County Council's website</a>.</p>