@model HerPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>@Model.LocalAuthorityName</strong> is not currently signed up to use this service yet. 
    <strong>@Model.LocalAuthorityName</strong> or their official contractor will process your details and contact you if they need any more 
    information on the contact details you provided when they have signed up to use the service.
</p>
<p class="govuk-body">
    You will receive monthly updates from the Department of Energy Security and Net Zero
    about the progress of your local authority signing up to use the service.
</p>
