@model WhlgPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    Once <strong>@Model.LocalAuthorityName</strong> has signed up to the service, either they or their official 
    contractor will process your details and contact you if they need any more information on the contact details you 
    provided.
</p>

<p class="govuk-body">To enquire about your application visit <a class="govuk-link" href="@Model.LocalAuthorityWebsite">@Model.LocalAuthorityName's website</a>.</p>
