@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    We will send your answers and contact details to the <strong>Norfolk Warm Homes team</strong>, led by Broadland District Council.
</p>