@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    We will send your answers and contact details to the <strong>Norfolk Warm Homes team, led by Broadland District Council,</strong> who will contact you to discuss your eligibility for the scheme.
</p>