@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    @{
        if (Model.LocalAuthorityIsTakingFutureReferrals)
        {
            <text>We will send your answers and contact details to <strong>@Model.LocalAuthorityName or their official contractor</strong> in spring 2025 should they get funding for Warm Homes: Local Grant.</text>
        }
        else
        {
            <text>We will send your answers and contact details to <strong>@Model.LocalAuthorityName or their official contractor</strong>.</text>
        }
    }
    @{
        if (Model.LocalAuthorityIsPending)
        {
            <text> Once they have signed up to the service, they will contact you for further information about your eligibility and property before they can book a home survey.</text>
        }
        else
        {
            <text> They will contact you for further information about your eligibility and property before they can book a home survey.</text>
        }
    }
</p>

<p class="govuk-body">
    An official contractor is a vetted organisation that may carry out some of the work on
    behalf of your Local Authority. Your bank details will not be needed for payment of any
    direct scheme installations, as this is a fully funded programme. However, your bank details
    may be requested for verification purposes.
</p>