@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    We will send your answers and contact details to <strong>Liverpool City Region Combined Authority or their official contractor</strong>
    (Liverpool City Region Combined Authority will be delivering the programme on behalf of your Local Authority @Model.LocalAuthorityName).
</p>

<p class="govuk-body">
    An official contractor is a vetted organisation that may carry out some of the work on
    behalf of your Local Authority. Your bank details will not be needed for payment of any
    direct scheme installations, as this is a fully funded programme. However, your bank details
    may be requested for verification purposes.
</p>