@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    We will send your answers and contact details to <strong>Oxfordshire County Council or their official contractor</strong>
    (Oxfordshire County Council will be delivering the programme on behalf of your Local Authority 
    @Model.LocalAuthorityName).
</p>