@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    We will send your answers and contact details to <strong>@Model.LocalAuthorityName's official delivery partner: Warmer Homes.</strong>
    They will contact you for further information about your eligibility and property before they can book a home survey.
</p>

<p class="govuk-body">
    A delivery partner is a vetted organisation that may carry out some of the work on
    behalf of your Local Authority. Your bank details will not be needed for payment of any
    direct scheme installations, as this is a fully funded programme. However, your bank details
    may be requested for verification purposes.
</p>