@model WhlgPublicWebsite.Models.Questionnaire.EligibleViewModel

<p class="govuk-body">
    As your Local Authority is within West Midlands Combined Authority, it is not participating in the national scheme, 
    instead retrofit funding has been devolved as part of the Warm Homes and Public Sector Decarbonisation Devolution Programme.
</p>

<p class="govuk-body">
    We will send your answers and contact details to 
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName or their official contractor</strong>. 
    They will contact you for further information about your eligibility.
</p>