@model SeaPublicWebsite.Models.EnergyEfficiency.ActionPlanViewModel;

<p class="govuk-body">
    You told us you would like some more information on one or more of the recommendations before considering them for your property:
</p>

<ul class="govuk-list govuk-list--bullet">
    @foreach(var recommendation in Model.GetDecideLaterRecommendations())
    {
        <li>
            <a href="@Url.Action("Recommendation_Get", new {id = (int) recommendation.Key, reference = Model.PropertyData.Reference, fromActionPlan = true})">
                @recommendation.Title
            </a>
        </li>
    }
</ul>


                                                                                                                              