@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SeaPublicWebsite.BusinessLogic.Models.Enums
@using SeaPublicWebsite.Controllers

@model SeaPublicWebsite.Models.EnergyEfficiency.FlatTypeViewModel
@{
    ViewBag.Title = "Flat type";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <form action="@Url.Action(nameof(EnergyEfficiencyController.FlatType_Post), "EnergyEfficiency", new {reference = Model.Reference})" method="post" novalidate>
            @(Html.HiddenFor(m => m.EntryPoint))
            @Html.AntiForgeryToken()
            
            @{
                Func<object, object> details =
                    @<text>
                        <p class="govuk-body">
                            Energy use varies between different buildings, particularly for heating.
                        </p>
                        <p class="govuk-body">
                            Some home improvements are only possible or appropriate for certain buildings.
                        </p>
                     </text>;
            }
            
            @(await Html.GovUkRadiosFor(m => m.FlatType,
                fieldsetOptions: new FieldsetViewModel
                {
                    Legend = new LegendViewModel
                    {
                        Text = "What kind of flat do you have?",
                        Classes = "govuk-fieldset__legend--l",
                        IsPageHeading = true
                    }
                },
                radioHints: new Dictionary<FlatType, HintViewModel>
                {
                    {
                        FlatType.TopFloor,
                        new HintViewModel
                        {
                            Text = "Sits directly below the roof with no other flat above it"
                        }
                    },
                    {
                        FlatType.MiddleFloor,
                        new HintViewModel
                        {
                            Text = "Has another flat above, and another below"
                        }
                    },
                    {
                        FlatType.GroundFloor,
                        new HintViewModel
                        {
                            Text = "The lowest flat in the building with no flat beneath - typically at street level but may be a basement"
                        }
                    },
                },
                hintOptions: new HintViewModel
                {
                    Html = @<text>
                               @await Html.GovUkDetails(new DetailsViewModel
                               {
                                   SummaryText = "Why do we need to know this?",
                                   Html = details
                               })
                            </text>
                }
            ))

            @await Html.GovUkButton(new ButtonViewModel
            {
                Text = "Continue"
            })
            
        </form>
        
    </div>
</div>
