@using SeaPublicWebsite.Controllers
@{
    ViewBag.Title = "Energy Efficiency Questionnaire";
}

@section BeforeMain {
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            @Constants.SERVICE_NAME
        </h1>

        <p class="govuk-body">
            Get advice on which home improvements could be installed by you or a
            tradesperson to improve the energy efficiency of your home.
        </p>

        <h2 class="govuk-heading-s">Who can use this service</h2>
        <p class="govuk-body">
            This service is for people who own their own property in England and Wales.
        </p>

        <div class="govuk-inset-text">
            <p>
                If you live in Scotland, visit
                <a class="govuk-link" href="https://www.homeenergyscotland.org/" target="_blank">Home Energy Scotland</a>
                to help you find ways to reduce your energy bills.
            </p>
            <p>
                If you live in Northern Ireland, visit
                <a class="govuk-link" href="https://www.nidirect.gov.uk/" target="_blank">NI Direct</a>
                for help.
            </p>
        </div>

        <h2 class="govuk-heading-s">What you get from this service</h2>
        <p class="govuk-body">
            This service recommends the improvements most likely to be suitable for you based
            on information about your home and energy use. For example, you may receive
            advice on:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>insulating your loft, walls and floor</li>
            <li>upgrading your heating</li>
            <li>fitting double glazing</li>
            <li>installing solar panels</li>
        </ul>
        <p class="govuk-inset-text">
            There is a different service available if you would like to 
            <a class="govuk-link" href="https://www.heat-pump-check.service.gov.uk/" target="_blank">
                check if a heat pump may be suitable for your property.
            </a>
        </p>
        <p class="govuk-body">
            Each recommendation will explain what’s involved, how much it could cost you and
            how much it could save on typical energy bills. You will also receive information
            about where to go to for more advice.
        </p>
        <p class="govuk-body">
            You can then build an action plan of the recommendations you would like to act on.
            There will be advice on where to find accredited tradespeople to do the work, and
            information on where to go for further support.
        </p>

        <h2 class="govuk-heading-s">
            What you will need
        </h2>
        <p class="govuk-body">
            You will need to answer some questions about your home and how much energy you use.
        </p>
        <p class="govuk-body">
            There is guidance available to help you answer the questions.
            If you’re still unsure, take your best guess. The service can still give you useful information.
        </p>

        <h2 class="govuk-heading-s">
            How long it takes
        </h2>
        <p class="govuk-body">
            If this is your first visit, it takes around <strong>10 minutes</strong> to answer the questions and
            receive recommendations tailored to you and your home.
        </p>
        <p class="govuk-body">
            You can
            <a href="@Url.Action(nameof(EnergyEfficiencyController.NewOrReturningUser_Get), "EnergyEfficiency")">return to your recommendations and action plan</a>
            if you need to.
        </p>

        <a href="@Url.Action(nameof(EnergyEfficiencyController.NewOrReturningUser_Get), "EnergyEfficiency")" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>

        <h2 class="govuk-heading-m">
            Other ways to get support
        </h2>
        <p class="govuk-body">
            If you would like some help with the website, you can call us to talk to one of our digital support assistants.
        </p>
        <p class="govuk-body-l">
            Telephone <br />
            <span class="sea-telephone"><strong>0800 444 202</strong></span>
        </p>
        <p class="govuk-body">
            Monday to Friday: 8am to 8pm<br>
            Saturday and Sunday: 9am to 5pm
        </p>
        <p class="govuk-body">
            <a class="govuk-link"  href="https://www.gov.uk/call-charges">
                Find out more about call charges
            </a>
        </p>
    </div>
    @await Html.PartialAsync("/Views/EnergyEfficiency/Partials/_RelatedContent.cshtml")
</div>