@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents

@model SeaPublicWebsite.Models.EnergyEfficiency.NoEpcFoundViewModel
@{
    ViewBag.Title = "No EPC found";
}

@section BeforeMain {
    @await Html.GovUkBackLink(new BackLinkViewModel
    {
        Text = "Back",
        Href = Model.BackLink,
    })
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            We weren't able to find a complete Energy Performance Certificate for your property
        </h1>

        <p class="govuk-body">
            This could be because there isn't a complete Energy Performance Certificate for your property, your property is a new build or because your address is saved in a different format.
        </p>
        
        <p class="govuk-body">
            You can continue without the Energy Performance Certificate. We will need to ask you some questions to work out which home improvements are most likely to be suitable for your home. There will be guidance to support you along the way.
        </p>

        @await Html.GovUkButton(new ButtonViewModel
        {
            Href = Model.ForwardLink,
            Text = "Continue"
        })
    </div>
</div>