@model HerPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>@Model.LocalAuthorityName or their official contractor</strong> will process
    your details and contact you if they need any more information on the contact details you provided.
</p>
