@model HerPublicWebsite.Models.Questionnaire.ConfirmationViewModel

<p class="govuk-body">
    <strong>@Model.LocalAuthorityName</strong> is not currently signed up to use this service yet.
    <strong>@Model.LocalAuthorityName</strong> or their official contractor will process your details and contact you in
    Spring 2025 if they need any more
    information on the contact details you provided.
</p>