@{
    ViewBag.Title = "Sorry, there is a problem with the service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
            Try again later.
        </p>
        <p class="govuk-body">
            We have not saved your answers. When the service is available, you will have to start again.
        </p>

        @*
        <!--TODO: Replace this with helpline details post beta -->
        <p class="govuk-body">
            Contact the helpline if you have any questions.
        </p>
         <p class="govuk-body">
          Telephone:<br>
          <strong class="govuk-!-font-weight-bold">0800 098 7950</strong>
        </p>
        <p class="govuk-body">
          Opening times:<br>
          <strong class="govuk-!-font-weight-bold">Monday to Friday: 8am to 6pm</strong><br>
          <strong class="govuk-!-font-weight-bold">Saturday: 9am to 12pm</strong><br>
        </p>
        <p class="govuk-body">
          Closed Easter Sunday, Christmas Day, Boxing Day and New Year’s Day.
        </p>
        *@
    </div>
</div>
