@model SeaPublicWebsite.Models.EnergyEfficiency.ActionButtonsViewModel

<div class="govuk-grid-row">
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <div class="govuk-button-group govuk-grid-column-full">
        <div class="govuk-grid-column-one-half govuk-!-padding-left-0">
            @if (Model.BackTitle is not null && Model.BackText is not null)
            {
                <button name="command" value="goBackwards" class="sea-nav-button sea-previous-recommendation govuk-!-width-full govuk-!-margin-0 govuk-!-text-align-left">
                    <span class="sea-nav-button-caption govuk-body govuk-!-padding-bottom-0">
                        @Model.BackTitle
                    </span>
                    <span class="sea-nav-button-title govuk-heading-m govuk-!-padding-top-0">
                        @(Model.BackText)
                    </span>
                    <svg class="sea-nav-button-left" width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5 34.8288C27.8198 34.8288 35.375 27.2943 35.375 18C35.375 8.70566 27.8198 1.17114 18.5 1.17114C9.18019 1.17114 1.625 8.70566 1.625 18C1.625 27.2943 9.18019 34.8288 18.5 34.8288Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                        <path d="M17.4277 23.9425L11.4688 17.9998L17.4277 12.0571" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.4688 18H25.5312" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            }
        </div>
        <div class="govuk-grid-column-one-half govuk-!-padding-right-0">
            @if (Model.ForwardTitle is not null && Model.ForwardText is not null)
            {
                <button name="command" value="goForwards" class="sea-nav-button sea-next-recommendation govuk-!-width-full govuk-!-padding-right-0 govuk-!-text-align-right">
                    <span class="sea-nav-button-caption govuk-body govuk-!-padding-bottom-0">
                        @Model.ForwardTitle
                    </span>
                    <span class="sea-nav-button-title govuk-heading-m govuk-!-padding-top-0">
                        @Model.ForwardText
                    </span>
                    <svg class="sea-nav-button-right" width="37" height="36" viewBox="0 0 37 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.5 34.875C27.8198 34.875 35.375 27.3198 35.375 18C35.375 8.68019 27.8198 1.125 18.5 1.125C9.18019 1.125 1.625 8.68019 1.625 18C1.625 27.3198 9.18019 34.875 18.5 34.875Z" stroke="black" stroke-width="2" stroke-miterlimit="10"/>
                        <path d="M19.5723 23.959L25.5312 18L19.5723 12.041" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.4688 18H25.5312" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            }
        </div>
    </div>
</div>
