@model HerPublicWebsite.Models.Questionnaire.PendingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your local authority, 
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not signed up to use this service. 
    This means you will need to contact them directly. 
    To apply, please see the details below.
</p>

<div class="govuk-inset-text">
    <p class="govuk-body govuk-!-font-weight-bold">Norfolk Warm Homes</p>
    <p class="govuk-body">01603 430103</p>
    <p class="govuk-body">
        <a class="govuk-link" href="mailto:warmhomesfund@southnorfolkandbroadland.gov.uk">
            warmhomesfund@southnorfolkandbroadland.gov.uk
        </a>
    </p>
</div>