@model HerPublicWebsite.Models.Questionnaire.PendingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your local authority, 
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>,
    is not signed up to use this service yet. 
    This means you are unable to create an application at this time.
</p>
