@model HerPublicWebsite.Models.Questionnaire.PendingViewModel

<p class="govuk-body">
    Based on the information you provided, it looks like your local authority, 
    <strong class="govuk-!-font-weight-bold">@Model.LocalAuthorityName</strong>, 
    is not signed up to use this service yet. 
    This means that you can create an application, but it may not be processed for a while.
</p>
<p>
    You will receive monthly updates from the Department of Energy Security and Net Zero 
    about the progress of your local authority signing up to the service.
</p>
<p>
    If your local authority does not seem to be right, find your correct local authority and contact them directly.
</p>
