@{
    ViewBag.Title = "Sorry, there is a problem with the service - Home Energy Retrofit Advice - GOV.UK";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">
            Try again later.
        </p>
        <p class="govuk-body">
            We have not saved your answers. When the service is available, you will have to start again.
        </p>
        <p class="govuk-body">
            For general energy efficiency advice and to find out ways to reduce your energy bill, visit the <a href="https://energysavingtrust.org.uk/" target="_blank" class="govuk-link">Energy Saving Trust</a> website.
        </p>
    </div>
</div>
